# Copiar a .env y completar con tus valores
SECRET_KEY=genera-una-clave-aleatoria
DEBUG=True

# Neon (solo en producción/Render)
# DATABASE_URL=postgres://usuario:password@host:5432/neondb?sslmode=require

# Cloudinary
CLOUDINARY_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret
